[package]
name = "http-nu"
version = "0.5.1"
edition = "2021"
rust-version = "1.88.0"
description = "Serve a Nushell closure over HTTP."
license = "MIT"
repository = "https://github.com/cablehead/http-nu"
readme = "README.md"
homepage = "https://github.com/cablehead/http-nu"
keywords = ["http", "shell", "nushell", "server"]
categories = ["web-programming", "command-line-utilities"]

[[bin]]
name = "http-nu"
path = "src/main.rs"

[dependencies]
clap = { version = "4", features = ["derive"] }

serde = { version = "1", features = ["derive"] }
serde_json = "1"
http-serde = "2.1.1"

http = "1.1.0"
http-body-util = "0.1"
hyper = { version = "1", features = ["full"] }
hyper-util = { version = "0.1", features = ["full", "server-auto"] }
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tokio-util = { version = "0.7", features = ["io"] }

bytes = "1.6.0"
url = "2.5.0"

nu-cli = "0.108"
nu-cmd-lang = "0.108"
nu-cmd-extra = "0.108"
nu-command = "0.108"
nu-engine = "0.108"
nu-parser = "0.108"
nu-protocol = "0.108"
ctrlc = "3.4"
rustls = { version = "0.23.28", features = ["aws_lc_rs"] }
rustls-pemfile = "2.1.0"
tokio-rustls = "0.26.0"
scru128 = { version = "3", features = ["serde"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
tower-http = { version = "0.6.6", features = ["fs"] }
tower = { version = "0.5.2", features = ["util"] }
ureq = { version = "2.12.1", default-features = false, features = ["tls"] }



[dev-dependencies]
tempfile = "3.10.1"
assert_cmd = "2.0"
nix = { version = "0.30", features = ["signal", "process"] }
sysinfo = "0.30.12"





